# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.


# Connect to Supabase via connection pooling
DATABASE_URL=your_database_connection_string_here


JWT_SECRET=your_secret_key_here

BRI_BASE_URL=https://sandbox.partner.api.bri.co.id
BRI_CLIENT_ID=your_bri_client_id
BRI_CLIENT_SECRET=your_bri_client_secret
BRI_PARTNER_ID=your_bri_partner_id
BRI_CHANNEL_ID=95221
BRI_MERCHANT_ID=00007100010926
BRI_TERMINAL_ID=213141251124
BRI_GATE_DEVICE_CODE=GATE-001
BRI_PRIVATE_KEY="your_bri_private_key"
BRI_WEBHOOK_SECRET=your_bri_webhook_secret

ASPI_BASE_URL=https://apidevportal.aspi-indonesia.or.id:44310
ASPI_CLIENT_ID=YOUR_ASPI_CLIENT_ID
ASPI_CLIENT_SECRET=YOUR_ASPI_CLIENT_SECRET
ASPI_PRIVATE_KEY="YOUR_ASPI_PRIVATE_KEY"
ASPI_PARTNER_ID=YOUR_ASPI_PARTNER_ID
ASPI_CHANNEL_ID=YOUR_ASPI_CHANNEL_ID
ASPI_SERVICE_CODE=47
ASPI_EXTERNAL_STORE_ID=YOUR_ASPI_EXTERNAL_STORE_ID
ASPI_ENABLE_TEST_PAYMENT=false